.form-check-label .rating {
  display: flex;
  align-items: center;
  color: #ffb321;
  font-weight: bold;
}

.category-list li .category-list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox_animated {
  cursor: pointer;
  position: relative;
  margin-right: 16px;
  height: 100%;
}
.category-list li .category-list-box .form-check-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-left: 8px;
}
.text-content {
  color: #4a5568;
}
.category-dropdown {
  display: flex;
  align-items: center;
  justify-content: end;
}
.product-list-section {
  margin: 25px;
}
.active-category {
  background-color: #0da487;
  color: #fff;
}
